{% extends 'page.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="container-fluid no-padding">
        <div class="layout_1 margin-bottom-60">
            <div class="row">
                <div class="col-md-4">
                    <div class="layout_1--item">
                        <a href="#">
                            <span class="badge text-uppercase badge-overlay badge-tech">Tech</span>
                            <div class="overlay"></div>
                            <img src="{{ asset('assets/images/category/01/1.jpg') }}" class="img-responsive" alt="">
                            <div class="layout-detail padding-25">
                                <div class="icon-32 video"></div>
                                <h4>Elon Musk Just Unveiled His New Vision for Tesla</h4>
                                <p>Adipiscing elit, sed do eiusmod tempor incididunt...</p>
                                <div class="meta"><span class="author">by Mahita G.</span><span class="date">Sep. 27, 2016</span><span class="comments">3</span></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="layout_1--item">
                        <a href="#">
                            <span class="badge text-uppercase badge-overlay badge-tech">Tech</span>
                            <div class="overlay"></div>
                            <img src="{{ asset('assets/images/category/01/10.jpg') }}" class="img-responsive" alt="">
                            <div class="layout-detail padding-25">
                                <h4>Elon Musk Just Unveiled His New Vision for Tesla</h4>
                                <p>Adipiscing elit, sed do eiusmod tempor incididunt...</p>
                                <div class="meta"><span class="author">by Mahita G.</span><span class="date">Sep. 27, 2016</span><span class="comments">3</span></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="layout_1--item">
                        <a href="#">
                            <span class="badge text-uppercase badge-overlay badge-tech">Tech</span>
                            <div class="overlay"></div>
                            <img src="{{ asset('assets/images/category/01/6.jpg') }}" class="img-responsive" alt="">
                            <div class="layout-detail padding-25">
                                <div class="icon-32 gallery2"></div>
                                <h4>Elon Musk Just Unveiled His New Vision for Tesla</h4>
                                <p>Adipiscing elit, sed do eiusmod tempor incididunt...</p>
                                <div class="meta"><span class="author">by Mahita G.</span><span class="date">Sep. 27, 2016</span><span class="comments">3</span></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">

                <h3 class="heading-1"><span>Entertainment</span></h3>
                <div class="row">
                    <div class="col-md-6 col-sm-6 margin-bottom-30">
                        <div class="layout_3--item">
                            <div class="thumb">
                                <a href="#"><img src="{{ asset('assets/images/home/02/5.jpg') }}" class="img-responsive" alt=""></a>
                            </div>
                            <span class="cat">LifeStyle</span>
                            <h4><a href="#">Starbucks Is Giving Its Workers a Raise</a></h4>
                            <p>New Zealand open the 2016 Rugby Championship by humiliating Australia 42-8 in the Bledisloe Cup</p>
                            <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 margin-bottom-30">
                        <div class="layout_2--item row">
                            <div class="col-md-6 col-sm-5">
                                <div class="thumb">
                                    <a href="#"><img src="{{ asset('assets/images/home/05/1.jpg') }}" class="img-responsive" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-7">
                                <h4><a href="#">The Senate Is Ditching its BlackBerries for iPhones</a></h4>
                                <div class="meta"><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                            </div>
                        </div>
                        <hr class="l2">
                        <div class="layout_2--item row">
                            <div class="col-md-6 col-sm-5">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="{{ asset('assets/images/home/05/2.jpg') }}" class="img-responsive" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-7">
                                <span class="cat">Business</span>
                                <h4><a href="#">The Senate Is Ditching its BlackBerries for iPhones</a></h4>
                                <div class="meta"><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                            </div>
                        </div>
                        <hr class="l2">
                        <div class="layout_2--item row">
                            <div class="col-md-6 col-sm-5">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="{{ asset('assets/images/home/05/4.jpg') }}" class="img-responsive" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-7">
                                <span class="cat">Business</span>
                                <h4><a href="#">The Senate Is Ditching its BlackBerries for iPhones</a></h4>
                                <div class="meta"><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                            </div>
                        </div>
                        <div class="margin-bottom-30"></div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <h3 class="heading-1"><span>Popular Now</span></h3>
                <div class="row margin-bottom-30">
                    <div class="col-md-4 col-sm-4">
                        <div class="layout_2--item">
                            <div class="thumb">
                                <a href="#"><img src="{{ asset('assets/images/home/02/1.jpg') }}" class="img-responsive" alt=""></a>
                            </div>
                            <span class="cat">Business</span>
                            <h4><a href="#">Unilever Buys Dollar Shave Club for $1 Billion</a></h4>
                            <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="layout_2--item">
                            <div class="thumb">
                                <a href="#"><img src="{{ asset('assets/images/home/02/2.jpg') }}" class="img-responsive" alt=""></a>
                            </div>
                            <span class="cat">Business</span>
                            <h4><a href="#">Unilever Buys Dollar Shave Club for $1 Billion</a></h4>
                            <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="layout_2--item">
                            <div class="thumb">
                                <div class="icon-24 gallery2"></div>
                                <a href="#"><img src="{{ asset('assets/images/home/02/3.jpg') }}" class="img-responsive" alt=""></a>
                            </div>
                            <span class="cat">Business</span>
                            <h4><a href="#">Unilever Buys Dollar Shave Club for $1 Billion</a></h4>
                            <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-30">
                    <div class="col-md-4 col-sm-4">
                        <div class="layout_2--item">
                            <div class="thumb">
                                <a href="#"><img src="{{ asset('assets/images/home/02/4.jpg') }}" class="img-responsive" alt=""></a>
                            </div>
                            <span class="cat">Business</span>
                            <h4><a href="#">Unilever Buys Dollar Shave Club for $1 Billion</a></h4>
                            <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="layout_2--item">
                            <div class="thumb">
                                <a href="#"><img src="{{ asset('assets/images/home/02/5.jpg') }}" class="img-responsive" alt=""></a>
                            </div>
                            <span class="cat">Business</span>
                            <h4><a href="#">Unilever Buys Dollar Shave Club for $1 Billion</a></h4>
                            <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="layout_2--item">
                            <div class="thumb">
                                <div class="icon-24 gallery2"></div>
                                <a href="#"><img src="{{ asset('assets/images/home/02/6.jpg') }}" class="img-responsive" alt=""></a>
                            </div>
                            <span class="cat">Business</span>
                            <h4><a href="#">Unilever Buys Dollar Shave Club for $1 Billion</a></h4>
                            <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                        </div>
                    </div>
                </div>
                <div class="layout_3">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 margin-bottom-30">
                            <h3 class="heading-1"><span>Entertainment</span></h3>
                            <div class="layout_3--item">
                                <div class="thumb">
                                    <a href="#"><img src="{{ asset('assets/images/home/03/1.jpg') }}" class="img-responsive" alt=""></a>
                                </div>
                                <span class="cat">LifeStyle</span>
                                <h4><a href="#">Starbucks Is Giving Its Workers a Raise</a></h4>
                                <p>New Zealand open the 2016 Rugby Championship by humiliating Australia 42-8 in the Bledisloe Cup</p>
                                <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                            </div>

                            <div class="margin-bottom-30"></div>
                        </div>
                        <div class="col-md-6 col-sm-6 margin-bottom-30">
                            <h3 class="heading-1"><span>Lifestyle</span></h3>
                            <div class="layout_3--item">
                                <div class="thumb">
                                    <a href="#"><img src="{{ asset('assets/images/home/03/2.jpg') }}" class="img-responsive" alt=""></a>
                                </div>
                                <span class="cat">Business</span>
                                <h4><a href="#">Starbucks Is Giving Its Workers a Raise</a></h4>
                                <p>Britain's Liam Heath secures his second medal at Rio 2016, winning gold in the men's kayak single</p>
                                <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                            </div>

                            <div class="margin-bottom-30"></div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <h3 class="heading-1"><span>Latest Trends</span></h3>
                <div class="layout_3--item row">
                    <div class="col-md-6">
                        <div class="thumb">
                            <a href="#"><img src="{{ asset('assets/images/category/01/1.jpg') }}" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="cat">LifeStyle</span>
                        <h4><a href="#">Starbucks Is Giving Its Workers a Raise</a></h4>
                        <p>New Zealand open the 2016 Rugby Championship by humiliating Australia 42-8 in the Bledisloe Cup</p>
                        <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                    </div>
                </div>
                <hr class="l4">
                <div class="layout_3--item row">
                    <div class="col-md-6">
                        <div class="thumb">
                            <a href="#"><img src="{{ asset('assets/images/category/01/2.jpg') }}" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="cat">LifeStyle</span>
                        <h4><a href="#">Starbucks Is Giving Its Workers a Raise</a></h4>
                        <p>New Zealand open the 2016 Rugby Championship by humiliating Australia 42-8 in the Bledisloe Cup</p>
                        <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                    </div>
                </div>
                <hr class="l4">
                <div class="layout_3--item row">
                    <div class="col-md-6">
                        <div class="thumb">
                            <a href="#"><img src="{{ asset('assets/images/category/01/3.jpg') }}" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="cat">LifeStyle</span>
                        <h4><a href="#">Starbucks Is Giving Its Workers a Raise</a></h4>
                        <p>New Zealand open the 2016 Rugby Championship by humiliating Australia 42-8 in the Bledisloe Cup</p>
                        <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="layout_3 margin-top-30">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 margin-bottom-30">
                            <h3 class="heading-1"><span>Entertainment</span></h3>
                            <div class="layout_3--item">
                                <div class="thumb">
                                    <a href="#"><img src="{{ asset('assets/images/home/03/1.jpg') }}" class="img-responsive" alt=""></a>
                                </div>
                                <span class="cat">LifeStyle</span>
                                <h4><a href="#">Starbucks Is Giving Its Workers a Raise</a></h4>
                                <p>New Zealand open the 2016 Rugby Championship by humiliating Australia 42-8 in the Bledisloe Cup</p>
                                <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                            </div>

                            <div class="margin-bottom-30"></div>
                        </div>
                        <div class="col-md-6 col-sm-6 margin-bottom-30">
                            <h3 class="heading-1"><span>Lifestyle</span></h3>
                            <div class="layout_3--item">
                                <div class="thumb">
                                    <a href="#"><img src="{{ asset('assets/images/home/03/2.jpg') }}" class="img-responsive" alt=""></a>
                                </div>
                                <span class="cat">Business</span>
                                <h4><a href="#">Starbucks Is Giving Its Workers a Raise</a></h4>
                                <p>Britain's Liam Heath secures his second medal at Rio 2016, winning gold in the men's kayak single</p>
                                <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                            </div>

                            <div class="margin-bottom-30"></div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-md-4 col-sm-4">
                <div class="ads ad-300 margin-bottom-60">
                    <span>Advertisement</span>
                    <img src="{{ asset('assets/images/ads/300x250-2.jpg') }}" class="img-responsive" alt=""/>
                </div>


                <div class="side-widget margin-bottom-60">
                    <h3 class="heading-1"><span>Newsletter</span></h3>

                    <div class="post-subscribe margin-bottom-60">
                        <p>Subscribe to our email newsletter for useful tips and valuable resources.</p>

                        <form>
                            <i class="fa fa-envelope"></i>
                            <input type="text" placeholder="Your Email address">
                            <button type="submit">Subscribe</button>
                        </form>
                        <span>Don't worry we hate spam as much as you do</span>
                    </div>
                </div>

                <div class="side-widget margin-bottom-40">
                    <h3 class="heading-1"><span>Most Viewed</span></h3>

                    <ul class="trending padding-bottom-30">
                        <li>
                            <div class="thumb">
                                <div class="overlay-alt"></div>
                                <img src="{{ asset('assets/images/home/02/1.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <h4><a href="#">Why Uber Is Trying To Make Nice With Its Drivers</a></h4>
                            <div class="meta"><span class="date">Sep. 27, 2016</span><span class="comments">4</span></div>
                        </li>
                        <li>
                            <div class="thumb">
                                <div class="overlay-alt"></div>
                                <img src="{{ asset('assets/images/home/02/2.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <span class="cat">Business</span>
                            <h4><a href="#">Why Uber Is Trying To Make Nice With Its Drivers</a></h4>
                            <div class="meta"><span class="date">Sep. 27, 2016</span><span class="comments">1</span></div>
                        </li>
                        <li>
                            <div class="thumb">
                                <div class="icon-24 gallery2"></div>
                                <div class="overlay-alt"></div>
                                <img src="{{ asset('assets/images/home/02/3.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <h4><a href="#">Why Uber Is Trying To Make Nice With Its Drivers</a></h4>
                            <div class="meta"><span class="date">Sep. 27, 2016</span><span class="comments">4</span></div>
                        </li>
                        <li>
                            <div class="thumb">
                                <div class="overlay-alt"></div>
                                <img src="{{ asset('assets/images/home/02/4.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <span class="cat">Business</span>
                            <h4><a href="#">Why Uber Is Trying To Make Nice With Its Drivers</a></h4>
                            <div class="meta"><span class="date">Sep. 27, 2016</span><span class="comments">1</span></div>
                        </li>
                        <li>
                            <div class="thumb">
                                <div class="icon-24 gallery2"></div>
                                <div class="overlay-alt"></div>
                                <img src="{{ asset('assets/images/home/02/5.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <h4><a href="#">Why Uber Is Trying To Make Nice With Its Drivers</a></h4>
                            <div class="meta"><span class="date">Sep. 27, 2016</span><span class="comments">4</span></div>
                        </li>
                    </ul>
                </div>

                <div class="side-widget margin-bottom-60">
                    <h3 class="heading-1"><span>Follow Us</span></h3>
                    <div class="side-share side-share2">
                        <div class="share s_facebook">
                            <i class="fa fa-facebook"></i>
                            <div class="counter c_facebook">1469</div>
                            <span>fans</span>
                        </div>
                        <div class="share s_linkedin">
                            <i class="fa fa-linkedin"></i>
                            <div class="counter c_linkedin">497</div>
                            <span>followers</span>
                        </div>
                        <div class="share s_plus">
                            <i class="fa fa-google-plus"></i>
                            <div class="counter c_plus">397</div>
                            <span>followers</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="side-widget margin-bottom-60">
                    <h3 class="heading-1"><span>Most Popular</span></h3>
                    <div class="layout_1--item">
                        <a href="#">
                            <span class="badge text-uppercase badge-overlay badge-world">World</span>
                            <div class="overlay"></div>
                            <img src="{{ asset('assets/images/sidebar/1.jpg') }}" class="img-responsive" alt="">
                            <div class="layout-detail padding-25">
                                <h6>Tesla Denies Fresh Claim of Creash on Autopilot</h6>
                                <div class="meta"><span class="author">by Alex R.</span><span class="date">Sep. 27, 2016</span><span class="rating">9.8</span><span class="comments">3</span></div>
                            </div>
                        </a>
                    </div>
                    <ul class="trending padding-top-30 padding-bottom-30">
                        <li>
                            <div class="thumb">
                                <div class="overlay-alt"></div>
                                <img src="{{ asset('assets/images/footer/trend/1.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <h4><a href="#">Why Uber Is Trying To Make Nice With Its Drivers</a></h4>
                            <div class="meta"><span class="date">Sep. 27, 2016</span><span class="rating">9.4</span></div>
                        </li>
                        <li>
                            <div class="thumb">
                                <div class="overlay-alt"></div>
                                <img src="{{ asset('assets/images/footer/trend/2.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <span class="cat">Business</span>
                            <h4><a href="#">Why Uber Is Trying To Make Nice With Its Drivers</a></h4>
                            <div class="meta"><span class="date">Sep. 27, 2016</span><span class="rating">9.1</span><span class="comments">4</span></div>
                        </li>
                        <li>
                            <div class="thumb">
                                <div class="icon-24 gallery2"></div>
                                <div class="overlay-alt"></div>
                                <img src="{{ asset('assets/images/footer/trend/3.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <h4><a href="#">Why Uber Is Trying To Make Nice With Its Drivers</a></h4>
                            <div class="meta"><span class="date">Sep. 27, 2016</span><span class="rating">8.8</span></div>
                        </li>
                    </ul>

                </div>

            </aside>
        </div>
    </div>

    <div class="carousel-wrap bg-dark">
        <div class="container">
            <h5><span>You may also like</span></h5>
            <div class="clearfix"></div>
            <div class="col-md-12 no-padding">
                <div class="post-carousel6">
                    <div class="side-widget">
                        <div class="layout_1--item">
                            <a href="#">
                                <span class="badge text-uppercase badge-overlay badge-world">World</span>
                                <div class="overlay"></div>
                                <img src="{{ asset('assets/images/category/02/3.jpg') }}" class="img-responsive" alt="">
                                <div class="layout-detail padding-25">
                                    <h6>Tesla Denies Fresh Claim of Creash on Autopilot</h6>
                                    <div class="meta"><span class="author">by Alex R.</span><span class="date">Sep. 27, 2016</span><span class="rating">9.8</span><span class="comments">3</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="side-widget">
                        <div class="layout_1--item">
                            <a href="#">
                                <span class="badge text-uppercase badge-overlay badge-world">World</span>
                                <div class="overlay"></div>
                                <img src="{{ asset('assets/images/category/02/4.jpg') }}" class="img-responsive" alt="">
                                <div class="layout-detail padding-25">
                                    <div class="icon-24 video2"></div>
                                    <h6>Tesla Denies Fresh Claim of Creash on Autopilot</h6>
                                    <div class="meta"><span class="author">by Alex R.</span><span class="date">Sep. 27, 2016</span><span class="rating">9.8</span><span class="comments">3</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="side-widget">
                        <div class="layout_1--item">
                            <a href="#">
                                <span class="badge text-uppercase badge-overlay badge-world">World</span>
                                <div class="overlay"></div>
                                <img src="{{ asset('assets/images/category/02/5.jpg') }}" class="img-responsive" alt="">
                                <div class="layout-detail padding-25">
                                    <div class="icon-24 gallery2"></div>
                                    <h6>Tesla Denies Fresh Claim of Creash on Autopilot</h6>
                                    <div class="meta"><span class="author">by Alex R.</span><span class="date">Sep. 27, 2016</span><span class="rating">9.8</span><span class="comments">3</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="side-widget">
                        <div class="layout_1--item">
                            <a href="#">
                                <span class="badge text-uppercase badge-overlay badge-world">World</span>
                                <div class="overlay"></div>
                                <img src="{{ asset('assets/images/category/02/6.jpg') }}" class="img-responsive" alt="">
                                <div class="layout-detail padding-25">
                                    <div class="icon-24 video2"></div>
                                    <h6>Tesla Denies Fresh Claim of Creash on Autopilot</h6>
                                    <div class="meta"><span class="author">by Alex R.</span><span class="date">Sep. 27, 2016</span><span class="rating">9.8</span><span class="comments">3</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="side-widget">
                        <div class="layout_1--item">
                            <a href="#">
                                <span class="badge text-uppercase badge-overlay badge-world">World</span>
                                <div class="overlay"></div>
                                <img src="{{ asset('assets/images/category/02/7.jpg') }}" class="img-responsive" alt="">
                                <div class="layout-detail padding-25">
                                    <div class="icon-24 gallery2"></div>
                                    <h6>Tesla Denies Fresh Claim of Creash on Autopilot</h6>
                                    <div class="meta"><span class="author">by Alex R.</span><span class="date">Sep. 27, 2016</span><span class="rating">9.8</span><span class="comments">3</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="container">
        <div class="row margin-bottom-30">
            <div class="col-md-8 col-sm-8 margin-bottom-30">
                <h3 class="heading-1"><span>Read More</span></h3>
                <div class="layout_3--item row">
                    <div class="col-md-6">
                        <div class="thumb">
                            <a href="#"><img src="{{ asset('assets/images/category/01/1.jpg') }}" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="cat">LifeStyle</span>
                        <h4><a href="#">Starbucks Is Giving Its Workers a Raise</a></h4>
                        <p>New Zealand open the 2016 Rugby Championship by humiliating Australia 42-8 in the Bledisloe Cup</p>
                        <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                    </div>
                </div>
                <hr class="l4">
                <div class="layout_3--item row">
                    <div class="col-md-6">
                        <div class="thumb">
                            <a href="#"><img src="{{ asset('assets/images/category/01/2.jpg') }}" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="cat">LifeStyle</span>
                        <h4><a href="#">Starbucks Is Giving Its Workers a Raise</a></h4>
                        <p>New Zealand open the 2016 Rugby Championship by humiliating Australia 42-8 in the Bledisloe Cup</p>
                        <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                    </div>
                </div>
                <hr class="l4">
                <div class="layout_3--item row">
                    <div class="col-md-6">
                        <div class="thumb">
                            <a href="#"><img src="{{ asset('assets/images/category/01/3.jpg') }}" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="cat">LifeStyle</span>
                        <h4><a href="#">Starbucks Is Giving Its Workers a Raise</a></h4>
                        <p>New Zealand open the 2016 Rugby Championship by humiliating Australia 42-8 in the Bledisloe Cup</p>
                        <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                    </div>
                </div>
                <hr class="l4">
                <div class="layout_3--item row">
                    <div class="col-md-6">
                        <div class="thumb">
                            <a href="#"><img src="{{ asset('assets/images/category/01/4.jpg') }}" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="cat">LifeStyle</span>
                        <h4><a href="#">Starbucks Is Giving Its Workers a Raise</a></h4>
                        <p>New Zealand open the 2016 Rugby Championship by humiliating Australia 42-8 in the Bledisloe Cup</p>
                        <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                    </div>
                </div>
                <hr class="l4">
                <div class="layout_3--item row">
                    <div class="col-md-6">
                        <div class="thumb">
                            <a href="#"><img src="{{ asset('assets/images/category/01/5.jpg') }}" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="cat">LifeStyle</span>
                        <h4><a href="#">Starbucks Is Giving Its Workers a Raise</a></h4>
                        <p>New Zealand open the 2016 Rugby Championship by humiliating Australia 42-8 in the Bledisloe Cup</p>
                        <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                    </div>
                </div>
                <hr class="l4">
                <ul class="pagination">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><span>...</span></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
            <aside class="col-md-4 col-sm-4">
                <div class="side-widget margin-bottom-40">
                    <h3 class="heading-1"><span>What's Hot</span></h3>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="layout_2--item margin-bottom-5">
                                <div class="thumb">
                                    <div class="icon-24 gallery2"></div>
                                    <a href="#"><img src="{{ asset('assets/images/home/02/1.jpg') }}" class="img-responsive" alt=""></a>
                                </div>
                                <h4 class="margin-top-10"><a href="#">Unilever Buys Dollar Shave Club</a></h4>
                                <div class="meta"><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                            </div>

                            <hr class="l4 margin-top-15 margin-bottom-20">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="layout_2--item margin-bottom-5">
                                <div class="thumb">
                                    <a href="#"><img src="{{ asset('assets/images/home/02/2.jpg') }}" class="img-responsive" alt=""></a>
                                </div>
                                <h4 class="margin-top-10"><a href="#">Unilever Buys Dollar Shave Club</a></h4>
                                <div class="meta"><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                            </div>

                            <hr class="l4 margin-top-15 margin-bottom-20">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="layout_2--item margin-bottom-5">
                                <div class="thumb">
                                    <a href="#"><img src="{{ asset('assets/images/home/02/3.jpg') }}" class="img-responsive" alt=""></a>
                                </div>
                                <h4 class="margin-top-10"><a href="#">Unilever Buys Dollar Shave Club</a></h4>
                                <div class="meta"><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                            </div>

                            <hr class="l4 margin-top-15 margin-bottom-20">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="layout_2--item margin-bottom-5">
                                <div class="thumb">
                                    <div class="icon-24 video2"></div>
                                    <a href="#"><img src="{{ asset('assets/images/home/02/4.jpg') }}" class="img-responsive" alt=""></a>
                                </div>
                                <h4 class="margin-top-10"><a href="#">Unilever Buys Dollar Shave Club</a></h4>
                                <div class="meta"><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                            </div>

                            <hr class="l4 margin-top-15 margin-bottom-20">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="layout_2--item margin-bottom-5">
                                <div class="thumb">
                                    <a href="#"><img src="{{ asset('assets/images/category/01/11.jpg') }}" class="img-responsive" alt=""></a>
                                </div>
                                <h4 class="margin-top-10"><a href="#">Unilever Buys Dollar Shave Club</a></h4>
                                <div class="meta"><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                            </div>

                            <hr class="l4 margin-top-15 margin-bottom-20">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="layout_2--item margin-bottom-5">
                                <div class="thumb">
                                    <a href="#"><img src="{{ asset('assets/images/category/01/7.jpg') }}" class="img-responsive" alt=""></a>
                                </div>
                                <h4 class="margin-top-10"><a href="#">Unilever Buys Dollar Shave Club</a></h4>
                                <div class="meta"><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                            </div>

                            <hr class="l4 margin-top-15 margin-bottom-20">
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>

{% endblock %}
