{% extends 'page.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <!-- PAGE HEADER -->
    <div class="page_header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="bcrumbs">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Auto</a></li>
                        <li>The new AMG GT R is Mercedes-Benz's most hardcore sports car</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- // PAGE HEADER -->

    <!-- CONTENT -->
    <div class="container single-post padding-bottom-30">
        <div class="row">
            <div class="clearfix"></div>
            <div class="col-md-8 col-sm-7 padding-bottom-30">
                <div class="blog-excerpt">
                    <img src="{{ asset('assets/images/category/single/5.jpg') }}" class="img-responsive" alt=""/>

                    <div class="blog-single-head margin-top-25">
                        <h2>The new AMG GT R is Mercedes-Benz's most hardcore sports car</h2>
                        <div class="meta"><span class="author">by Mahita G.</span><span class="date">Sep. 27, 2016</span><span class="comments">3</span></div>
                    </div>

                    <div class="post-share margin-bottom-30">
                        <a href="#"><i class="fa fa-facebook"></i> Share</a>
                        <a href="#"><i class="fa fa-twitter"></i> Tweet</a>
                        <a href="#"><i class="fa fa-pinterest"></i> Pin it</a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>

                    <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum <a href="#">dolore eu fugiat nulla pariatur</a>. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>

                    <h5>Doing The Right Thing</h5>
                    <div class="clearfix"></div>

                    <img src="{{ asset('assets/images/category/single/2.jpg') }}" class="img-left img-responsive" alt=""/>

                    <p>Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis<br> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>

                    <img src="{{ asset('assets/images/category/single/7.jpg') }}" class="img-right img-responsive" alt=""/>

                    <p>Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis.<br>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>

                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>

                    <div class="single-carousel-wrap">
                        <div class="single-carousel">
                            <div data-thumb="images/category/slider/01/1.jpg"><img src="images/category/slider/1.jpg" class="img-responsive" alt=""/></div>
                            <div data-thumb="images/category/slider/01/2.jpg"><img src="images/category/slider/2.jpg" class="img-responsive" alt=""/></div>
                            <div data-thumb="images/category/slider/01/3.jpg"><img src="images/category/slider/3.jpg" class="img-responsive" alt=""/></div>
                            <div data-thumb="images/category/slider/01/4.jpg"><img src="images/category/slider/4.jpg" class="img-responsive" alt=""/></div>
                            <div data-thumb="images/category/slider/01/5.jpg"><img src="images/category/slider/5.jpg" class="img-responsive" alt=""/></div>
                            <div data-thumb="images/category/slider/01/6.jpg"><img src="images/category/slider/6.jpg" class="img-responsive" alt=""/></div>
                            <div data-thumb="images/category/slider/01/7.jpg"><img src="images/category/slider/7.jpg" class="img-responsive" alt=""/></div>
                            <div data-thumb="images/category/slider/01/8.jpg"><img src="images/category/slider/8.jpg" class="img-responsive" alt=""/></div>
                            <div data-thumb="images/category/slider/01/9.jpg"><img src="images/category/slider/9.jpg" class="img-responsive" alt=""/></div>
                        </div>
                        <a class="prev1"><i class="fa fa-angle-left"></i></a>
                        <a class="next1"><i class="fa fa-angle-right"></i></a>
                    </div>

                    <div class="credit">
                        <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. <span>Photos via <a href="#">link</a></span></p>
                    </div>

                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>

                    <h5>Doing The Right Thing</h5>

                    <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <blockquote>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</blockquote>

                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>

                    <ul class="list">
                        <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</li>
                        <li>Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et</li>
                        <li>Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint</li>
                    </ul>

                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>

                </div>

                <div class="single-topic">
                    <span>Topics:</span>
                    <ul class="tags">
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">Finance</a></li>
                        <li><a href="#">European Union</a></li>
                        <li><a href="#">Germany</a></li>
                    </ul>
                </div>

                <div class="clearfix"></div>
                <div class="margin-bottom-10"></div>
                <div class="clearfix"></div>

                <div class="single-share">
                    <span>Share:</span>
                    <div class="post-share">
                        <a href="#"><i class="fa fa-facebook"></i> Share</a>
                        <a href="#"><i class="fa fa-twitter"></i> Tweet</a>
                        <a href="#"><i class="fa fa-pinterest"></i> Pin it</a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>

                <div class="margin-bottom-30"></div>
                <hr class="l4">

                <div class="row">
                    <div class="col-md-6">
                        <div class="blog-prev">
                            <i class="fa fa-angle-left"></i>
                            <span class="text-uppercase">Previous</span>
                            <p><a href="post_page_01.html">These Are Some of the Best Drone Photos in the World</a></p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="blog-next text-right">
                            <i class="fa fa-angle-right"></i>
                            <span class="text-uppercase">Next</span>
                            <p><a href="post_page_01.html">These Are Some of the Best Drone Photos in the World</a></p>
                        </div>
                    </div>
                </div>

                <div class="post-author margin-bottom-90">
                    <img src="{{ asset('assets/images/author.png') }}" alt=""/>

                    <h5>Andrew Carnoy</h5>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="post-subscribe margin-bottom-60">
                    <h5>Don't miss a story</h5>
                    <p>Subscribe to our email newsletter:</p>

                    <form>
                        <i class="fa fa-envelope"></i>
                        <input type="text" placeholder="Your Email address">
                        <button type="submit">Subscribe</button>
                    </form>
                    <span>Don't worry we hate spam as much as you do</span>
                </div>

                <h3 class="heading-1"><span>Related Articles</span></h3>
                <div class="row margin-bottom-30">
                    <div class="col-md-4">
                        <div class="layout_2--item">
                            <div class="thumb">
                                <a href="post_page_01.html"><img src="{{ asset('assets/images/category/01/3.jpg') }}" class="img-responsive" alt=""></a>
                            </div>
                            <span class="cat">Business</span>
                            <h4><a href="post_page_01.html">Unilever Buys Dollar Shave Club for $1 Billion</a></h4>
                            <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="layout_2--item">
                            <div class="thumb">
                                <a href="post_page_01.html"><img src="{{ asset('assets/images/category/01/2.jpg') }}" class="img-responsive" alt=""></a>
                            </div>
                            <span class="cat">Business</span>
                            <h4><a href="post_page_01.html">Unilever Buys Dollar Shave Club for $1 Billion</a></h4>
                            <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="layout_2--item">
                            <div class="thumb">
                                <a href="post_page_01.html"><img src="{{ asset('assets/images/category/01/5.jpg') }}" class="img-responsive" alt=""></a>
                            </div>
                            <span class="cat">Business</span>
                            <h4><a href="post_page_01.html">Unilever Buys Dollar Shave Club for $1 Billion</a></h4>
                            <div class="meta"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span><span class="comments">2</span></div>
                        </div>
                    </div>
                </div>

                <h3 class="heading-1"><span>5 Comments</span></h3>

                <div class="comments-list margin-bottom-20">
                    <div class="comment-content first">
                        <img src="{{ asset('assets/images/comments/avatar.png') }}" alt=""/>

                        <h5><b>Robert Gourley</b> <span class="pull-right">Sep 27, 2015 at 12:17 pm</span></h5>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a href="#" class="reply">Reply</a>
                    </div>

                    <div class="comment-content">
                        <img src="{{ asset('assets/images/comments/avatar2.png') }}" alt=""/>

                        <h5><b>Robert Gourley</b> <span class="pull-right">Sep 27, 2015 at 12:17 pm</span></h5>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a href="#" class="reply">Reply</a>

                        <div class="sub-comment">
                            <img src="{{ asset('assets/images/comments/avatar.png') }}" alt=""/>
                            <h5><b>Robert Gourley</b> <span class="pull-right">Sep 27, 2015 at 12:17 pm</span></h5>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <a href="#" class="reply">Reply</a>
                        </div>

                        <div class="sub-comment">
                            <img src="{{ asset('assets/images/comments/avatar2.png') }}" alt=""/>
                            <h5><b>Robert Gourley</b> <span class="pull-right">Sep 27, 2015 at 12:17 pm</span></h5>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <a href="#" class="reply">Reply</a>
                        </div>
                    </div>

                    <div class="comment-content last">
                        <img src="{{ asset('assets/images/comments/avatar.png') }}" alt=""/>

                        <h5><b>Robert Gourley</b> <span class="pull-right">Sep 27, 2015 at 12:17 pm</span></h5>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a href="#" class="reply">Reply</a>
                    </div>

                </div>

                <h3 class="heading-1"><span>Leave a reply</span></h3>

                <form class="post-comment-form">
                    <label>Your message</label>
                    <textarea></textarea>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Your Name</label>
                            <input type="text">
                        </div>

                        <div class="col-md-6">
                            <label>Your Email</label>
                            <input type="email">
                        </div>
                    </div>

                    <button type="submit">Submit Comment</button>
                </form>
            </div>

            <!-- SIDEBAR -->
            <aside class="col-md-4 col-sm-5">
                <div class="ads ad-300 margin-bottom-60">
                    <span>Advertisement</span>
                    <img src="{{ asset('assets/images/ads/300x250-2.jpg') }}" class="img-responsive" alt=""/>
                </div>

                <div class="side-widget margin-bottom-60">
                    <h3 class="heading-1"><span>Follow Us</span></h3>
                    <div class="side-share side-share2">
                        <div class='share s_facebook'>
                            <i class="fa fa-facebook"></i>
                            <div class='counter c_facebook'></div>
                            <span>fans</span>
                        </div>
                        <div class='share s_linkedin'>
                            <i class="fa fa-linkedin"></i>
                            <div class='counter c_linkedin'></div>
                            <span>followers</span>
                        </div>
                        <div class='share s_plus'>
                            <i class="fa fa-google-plus"></i>
                            <div class='counter c_plus'></div>
                            <span>followers</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="side-widget margin-bottom-30">
                    <h3 class="heading-1"><span>Most Popular</span></h3>
                    <div class="layout_1--item">
                        <a href="#">
                            <span class="badge text-uppercase badge-overlay badge-tech">Tech</span>
                            <div class="overlay"></div>
                            <img src="{{ asset('assets/images/category/01/10.jpg') }}" class="img-responsive" alt="">
                            <div class="layout-detail padding-25">
                                <h6>Retailers' Apple Pay Competitor Has Already Been Hacked</h6>
                                <div class="meta"><span class="author">by Mahita G.</span><span class="date">Sep. 24, 2016</span><span class="comments">1</span></div>
                            </div>
                        </a>
                    </div>

                    <ul class="trending padding-top-30 padding-bottom-30">
                        <li>
                            <div class="thumb">
                                <img src="{{ asset('assets/images/aside/01/1.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <h4><a href="post_page_01.html">Nest's New Product Is an Outdoor Security Camera</a></h4>
                            <div class="meta"><span class="date">Sep. 26, 2016</span></div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="{{ asset('assets/images/aside/01/2.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <span class="cat">Business</span>
                            <h4><a href="post_page_01.html">What to Know About the History of the Fed's Beige Book</a></h4>
                            <div class="meta"><span class="date">Sep. 24, 2016</span><span class="comments">4</span></div>
                        </li>
                        <li>
                            <div class="thumb">
                                <div class="icon-24 video2"></div>
                                <div class="overlay-alt"></div>
                                <img src="{{ asset('assets/images/aside/01/3.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <h4><a href="post_page_01.html">The Ultimate Job Seeker's Guide to LinkedIn</a></h4>
                            <div class="meta"><span class="date">Sep. 22, 2016</span></div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="{{ asset('assets/images/aside/01/4.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <span class="cat">Lifestyle</span>
                            <h4><a href="post_page_01.html">A Major Legal Fight Just Opened Up in the Hyperloop</a></h4>
                            <div class="meta"><span class="date">Sep. 21, 2016</span><span class="comments">2</span></div>
                        </li>
                        <li>
                            <div class="thumb">
                                <div class="icon-24 gallery2"></div>
                                <div class="overlay-alt"></div>
                                <img src="{{ asset('assets/images/aside/01/5.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <h4><a href="post_page_01.html">These Are Some of the Best Drone Photos in the World</a></h4>
                            <div class="meta"><span class="date">Sep. 20, 2016</span></div>
                        </li>
                    </ul>
                </div>

                <div class="side-widget margin-bottom-30">
                    <h3 class="heading-1"><span>Trending Stories</span></h3>
                    <ul class="trending-text">
                        <li>
                            <em>1</em>
                            <p><a href="post_page_01.html">Nests New Product Is an Outdoor Security Camera</a> <span>Sep 26, 2016</span></p>
                        </li>
                        <li>
                            <em>2</em>
                            <p><a href="post_page_01.html">What to Know About the History of the Fed's Beige Book</a> <span>Sep 24, 2016</span></p>
                        </li>
                        <li>
                            <em>3</em>
                            <p><a href="post_page_01.html">The Ultimate Job Seeker's Guide to LinkedIn</a> <span>Sep 22, 2016</span></p>
                        </li>
                        <li>
                            <em>2</em>
                            <p><a href="post_page_01.html">A Major Legal Fight Just Opened Up in the Hyperloop</a> <span>Sep 21, 2016</span></p>
                        </li>
                        <li>
                            <em>5</em>
                            <p><a href="post_page_01.html">These Are Some of the Best Drone Photos in the World</a> <span>Sep 20, 2016</span></p>
                        </li>
                    </ul>
                </div>
            </aside>
            <!-- // SIDEBAR -->

        </div>
    </div>
    <!-- // CONTENT -->

{% endblock %}
